---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products(manufacturer=sennheiser&longDescription=pink*&longDescription=donut*)?apiKey=v5wgz5wump7sjqjuh4x4c73p&format=json&pageSize=15&show=sku,name,customerReviewAverage,shortDescription,salePrice,image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 0,
          "total": 0,
          "currentPage": 1,
          "totalPages": 0,
          "queryTime": "0.010",
          "totalTime": "0.011",
          "partial": false,
          "canonicalUrl": "/v1/products(manufacturer=\"sennheiser\"&longDescription=\"pink*\"&longDescription=\"donut*\")?show=sku,name,customerReviewAverage,shortDescription,salePrice,image&format=json&apiKey=v5wgz5wump7sjqjuh4x4c73p",
          "products": [

          ]
        }
  recorded_at: Tue, 08 Mar 2016 18:43:15 GMT
recorded_with: VCR 3.0.1
