---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products(manufacturer=sennheiser&longDescription=headphones*&longDescription=white*)?apiKey=v5wgz5wump7sjqjuh4x4c73p&format=json&pageSize=15&show=sku,name,customerReviewAverage,shortDescription,salePrice,image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 6,
          "total": 6,
          "currentPage": 1,
          "totalPages": 1,
          "queryTime": "0.007",
          "totalTime": "0.022",
          "partial": false,
          "canonicalUrl": "/v1/products(manufacturer=\"sennheiser\"&longDescription=\"headphones*\"&longDescription=\"white*\")?show=sku,name,customerReviewAverage,shortDescription,salePrice,image&format=json&apiKey=v5wgz5wump7sjqjuh4x4c73p",
          "products": [
            {
              "sku": 9068191,
              "name": "Sennheiser - CX 1.00 Earbud Headphones - White",
              "customerReviewAverage": null,
              "shortDescription": "SENNHEISER CX 1.00 Earbud Headphones: Noise-blocking design; dynamic transducer principle; ultrasmall design; 3.5mm connector; 3.9' cable; includes 4 sizes of ear adapters",
              "salePrice": 44.95,
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/9068/9068191_sa.jpg"
            },
            {
              "sku": 9068155,
              "name": "Sennheiser - CX 2.00G Earbud Headphones - White",
              "customerReviewAverage": "1.0",
              "shortDescription": "SENNHEISER CX 2.00G Earbud Headphones: Dynamic transducers; 3-button in-line remote with integrated microphone; 4 ear adapter sizes; 3.9' cable; 3.5mm angled plug",
              "salePrice": 54.95,
            [...]
[...]
